:root { 
  --container-padding-general: 50px; 
} /* Declare variables that can be used with var() */

body{
  background-color: #f4f4f4;
  color: #333;
  font-family: helvetica, arial, sans-serif; /* 1st, 2nd, 3rd choice */
  font-size: 20px;
  line-height: 1.5em;
  height: 100%;
  margin: 0;
}

.container{/* . for class, # for id */
  margin: auto;
  overflow: hidden; /* no scrollbar if text goes outside its container */
}

#navbar{
  background-color: #222;
  color: white;
  width: 100%;
  position: fixed; /* Object will stay at same position even if scrolling */
}

#navbar .container{
  display: flex;
}

#navbar #company-brand{
  margin-left: 25px;
}

#navbar ul{
  padding: 0;
  list-style: none; /* no bullets */
  margin-top: 25px;
  padding-left: 100px;
}

#navbar li{
  display: inline; /* put list in a row (inline), column is default */
}

#navbar a{
  color: #666;
  text-decoration: none; /* Remove link underline */
  font-size: 25px;
  padding-left: 40px;
}

#navbar .current a{
  color: white;
}

/* TODO: Change so not all images are affected by the width below - DONE? */
.container #hompage-img{
  width: 100%; /* Set image width to 100% of the container */
}

#homepage-main{
  text-align: center;
  font-style: italic;
  padding-bottom: var(--container-padding-general);
  padding-top: var(--container-padding-general);
}

#copyright-footer{
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* TODO: update to display preview better */
#photos{
  padding: 150px;
}

.photo-preview{
  display: flex;
  padding: 50px;
  margin: 0;
  justify-content: center;
}

.photo-preview #photo-preview-img{
  height: 200px;
  width: 400px;
  min-height: 200px;
  min-width: 400px;
  margin-right: 50px;
  /*flex: 1;*/
}

.photo-specs{
  margin-left: 50px;
  /*flex: 1;*/
}

@media(max-width:500px){
/* Anything put in here will take affect if width is less than 500px */
}